@charset "UTF-*";

/* estilos para impressora */

*{
    padding: 10px;
    margin: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article::after {
  content: 'este artigo foi criado por lucas maia. acesse o site lucas.maia03@hotmail.com';
}